@import "generic/reset";
@import "settings/color";
@import "base/base";
@import "object/select";
@import "component/search-container";

.names, .info {
	display: inline-block;
}

.manager {
	display: flex;
	justify-content: space-between;
}

.names {
	margin: 1em 0;
}

.name {
	padding: 0.5em 0em;
}

.choices-not-readeds {
	margin-left: 1em;
}

// MOBILE
@media (max-width: 620px) {

	.container {
		display: block;
		text-align: unset;
	}

	.names, .info {
		display: block;
	}

	.info {
		text-align: center;
	}

	.manager {
		display: block;
		text-align: center;
	}

	.choices-not-readeds, .number-selecteds {
		display: block;
		margin-top: 1em;
		margin-left: 0;
	}

	.info img{
		width: 100%;
		height: auto;
		max-width: 300px;
	}
}
